* {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: 1em auto;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.7em;
  text-decoration: none;
  background-color: rgb(4, 4, 4);
  color: hsl(5deg 73% 91% / 75%);
}